name: Builds
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'
    - run: make clean
    - run: make citest
    - run: make
    - name: extract built binary
      uses: actions/upload-artifact@v4
      with:
        name: check_prometheus_linux_amd64
        path: check_prometheus
    - run: make clean

